{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock title %}



{% block body %}




<form method="post" action="{% url 'place_order' %}" class="text-center">
    <div class="container">
        {%for p in itm %}
        <div class="card text-center">
            <div class="card-header">
             product {{forloop.counter}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{p.prd_name.pname}}</h5>
              <p class="card-text">{{p.prd_name.ptitle}}.</p>
              <h2 class="btn-dark d-inline-block p-1">price</h2>
              <p class="btn btn-primary d-inline-block">{{p.prd_name.pprice}}</p>
              <h2 class="btn-dark d-inline-block p-1">Quantity</h2>
              <p class="btn btn-primary d-inline-block">{{p.qty}}</p>
            </div>

          </div>
    {%endfor%}
    </div>
    <div class="container mt-2">
      <h2>shpping Address</h2>


    
      <div class="col-md-6 bg-white m-auto p-4 mt-3">
        <h2>Name - {{ad.name}}</h2>
        <h2>Number - {{ad.phone}}</h2>
        <b>City - {{ad.city}}</b>
        <p>Home place - {{ad.house_no}},{{ad.pin}}</p>
        <a href="{% url 'my_address' %}?all='back'">click to change Address</a>
      </div>
    </div>
    
  
<h2 class="text-center">Total pay {{total}}</h2>
    
<script 
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key ="rzp_test_7mPyjnwM8ZduxW"
    data-amount="{{payment.amount}}"
    data-currency="INR"
    data-order_id="{{payment.id}}"
    data-buttontext="Go To payment"
    data-name="inayat"
    data-description="Test Transaction"
    data-image="{% static 'image/logo/pm.jpeg' %}"
    data-prefill.name="INAYAT RASOOL"
    data-prefill.email="inayat@gmail.com"
    data-prefill.contact="8171415434"
    data-theme.color="#75ff8c"
></script>


<input type="hidden" value="{{request.user.id}}"  custom="Hidden Element" name="user">
<input type="hidden" value="{{ad.id}}"  custom="Hidden Element" name="add">

    </form>






{% endblock body %}